# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments (caso você crie um localmente para intellisense)
venv/
env/
ENV/
.env
.venv

# Docker
docker-compose.override.yml

# IDE settings
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db